.banner {
  text-align: center;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
  height: 100vh;
  margin: 10px 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner h1
{
  color: white;
  font-size: 50px;
  font-weight: lighter;
  font-style: oblique;
}

.banner p

{
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
